@{
    ViewBag.Title = "Help";
}
<h3>@ViewBag.Message</h3>

<p>Have you ever had to look around the stage not knowing if your band is ready?</p>
<p><i>Yo bro, you ready?!</i></p>

<p>Use this app to get your group on the same page without any verbal cues</p>
<ol>
    <li>Create a show</li>
    <li>Copy the band id that gets created</li>
    <li>Share the site and the id with your band</li>
    <li>Add yourself as a band member</li>
    <li>watch the status page populate with your band</li>
    <li>tap your red square (X) when you are ready</li>
    <li>When everyone is ready it will show the success page</li>
    <li>Click the green square (O) to reset the status for the next song</li>
</ol>
