@{
    ViewBag.Title = "Green Light";
}

<div class="jumbotron">
    <h1>Green Light</h1>
    <p class="lead">Use this to make sure you are ready</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_AddBand")
    </div>
    <div class="col-md-4">
        @Html.Partial("_JoinShow")
    </div>
</div>
<div class="col-lg-10"><b style="color: firebrick">@ViewBag.Message</b></div>