@{
    ViewBag.Title = "Green Light";
}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_AddBand")
    </div>
    <div class="col-md-4">
        @Html.Partial("_JoinShow")
    </div>
</div>
<div class="col-lg-10"><b style="color: firebrick">@ViewBag.Message</b></div>

@section Scripts {
        <script type="text/javascript">
            $("#join").click(function(){
                $("#bandid").toggle();
                $("#create").toggle();
            })
            $("#create").click(function () {
                $("#join").toggle();
                $("#newshow").toggle();
            })
        </script>

    }
