@model GreenLightSharp.Models.Show

@{
    ViewBag.Title = "ShowPage";
    string a = Model.Band;
    string b = Model.Id;
    
}

<h2>ShowPage</h2>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_BandMember", Model.Members.FirstOrDefault())
    </div>
    <div class="col-md-4">
        @Html.Partial("_BandStatus")
    </div>
</div>

