@model GreenLightSharp.Models.Show

@{
    ViewBag.Title = "ShowPage";
}

<h2>ShowPage</h2>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_BandMember")
    </div>
    <div class="col-md-4">
        @Html.Partial("_BandStatus")
    </div>
</div>

