@model GreenLightSharp.Models.Display
@{
    ViewBag.Title = "Success";
}

<h2>Success!!</h2>

<img id="memStat" src="/Content/green32.png" />

<h4>Click square to reset status</h4>
<p>
    @Html.ActionLink("Return to Show", "ShowPage", new { id = Model.Member.Id, bid = Model.Member.BandId })
</p>

@section Scripts {

    <script type="text/javascript">
        $("#memStat").click(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Clear", "Home")',
                data: "{ 'bid': '@Model.Show.Id'}",
                contentType: "application/json; charset=utf-8",
                dataType: "html"
            });
            $("#memStat").attr("src", "/Content/red32.png");
        });
    </script>
}